<center>

  <div id="msg">
  </div>


  <%= form_for @message, remote: true do |f| %>
    <div class=col-sm-6>
      <div class="form-group cl-2">
      <%= f.text_field :content, class: "form-control", placeholder: "Type Here..."%>
    </div>
    <%= f.hidden_field :user, value: params[:user_id]%>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "back", root_path, class: "btn btn-success" %>
  <% end %>
</center>